<div class="row">
  <div class="col">

    <h2>Basic form</h2>

    <%= form_tag "/form_test/validation", method: :post, 'up-validate': '' do %>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" name="email" value="<%= params[:email] %>" class="form-control" id="email">
        <% if invalid_email? %>
          <div class="invalid-feedback" style="display: block">
            Please enter a valid e-mail address
          </div>
        <% end %>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>

    <% end %>

  </div>

</div>
