//= require unpoly

body
  margin: 0
  background: image-url('grid.png') repeat
  font-family: arial, sans-serif

.page
  min-height: 3000px

.spacer
  background-color: transparentize(green, 0.5)
  height: 150px
  content: 'Free space'

.fixed-top-bar
  position: fixed
  top: 0
  left: 0
  right: 0
  background-color: transparentize(blue, 0.5)
  padding: 50px

.example
  margin: 50px

.button
  display: inline-block
  height: 50px
  line-height: 50px
  padding-left: 25px
  padding-right: 25px
  background-color: #e21
  color: white
  text-decoration: none
  &:hover
    background-color: #fa1

dt
  font-weight: bold
