Line 1: <a href="#">Foo</a> bar baz bam qux foo bar baz bam qux<br>
Line 2: Foo <a href="#">bar</a> baz bam qux foo bar baz bam qux<br>
Line 3: Foo bar <a href="#">baz</a> bam qux foo bar baz bam qux
