<div class="example">
  <a class="button" href="#" up-tooltip="Tooltip text" up-position="top">Top tooltip</a>
</div>

<div class="example">
  <a class="button" href="#" up-tooltip="Tooltip text" up-position="bottom">Bottom tooltip</a>
</div>
