<div class="example">

  <h2>Form with file uploads</h2>

  <%= form_tag "/form_test/upload", method: :post, multipart: true, 'up-target' => '.result' do %>

    <div class="form-group">
      <label> input[type=text]
      </label>
      <input type="text" name="text-param" value="text-value" class="form-control">
    </div>

    <div class="form-group">
      <label> input[type=file]
      </label>
      <input type="file" name="file-param" class="form-control">
    </div>

    <div class="form-group">
      <label> input[type=file][multiple]
      </label>
      <input type="file" name="multiple-file-param" multiple class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

  <% end %>

  <h3>Submission result</h3>

  <div class="result">
    Results of the form submission will be shown here.
  </div>

</div>
