<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jasmine Specs</title>

    <link rel="stylesheet" href="/dist/jasmine.css">
    <link rel="stylesheet" href="/dist/specs.css">
    <link rel="stylesheet" href="/dist/unpoly.css">

    <script nonce="specs-nonce">
      window.specs = {}
      window.specs.config = <%- config.toJSON() %>;
    </script>

    <script nonce="specs-nonce" src="/dist/jasmine.js"></script>

    <%
      var esSuffix = config.es6 ? '.es6' : ''
      var minifySuffix = config.minify  ? '.min' : ''
    %>

    <script nonce="specs-nonce" src="/dist/unpoly<%- esSuffix + minifySuffix %>.js"></script>

    <script nonce="specs-nonce" src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <% if (config.migrate) { %>
      <script nonce="specs-nonce" src="/dist/unpoly-migrate<%- minifySuffix %>.js"></script>
    <% } %>

    <script nonce="specs-nonce" src="/dist/specs<%- esSuffix %>.js"></script>
  </head>
  <body>
  </body>
</html>
