<!DOCTYPE html>
<html>
  <head>
    <title>CSS test - Unpoly</title>
    <%= stylesheet_link_tag 'css_test', media: 'all' %>
    <%= javascript_include_tag 'css_test' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="page">
      <%= yield %>
    </div>
  </body>
</html>
