GUT:

<a href="/terms" up-modal=".main" up-modal-style="right">

<a href="/terms" up-on-click="up.modal.open(this, '.main', { style: 'right' })">

<a href="/terms" onclick="up.modal.open(this, '.main', { style: 'right' }); return false">


WEIRD:

<a href="/terms" up-target=".main" up-presentation="modal/right">

<a href="/terms" up-target=".main" up-modal up-modal-presentation="right">

<a href="/terms" up-target="@modal(.main)" up-presentation="modal/right">



<a href="/sites" up-popup=".main" up-popup-anchor="bottom" up-history="push">


<!-- cards/edit.html.erb -->

<%= form_for @card do |form| %>

  = form.label :title
  = form.text_field :title

  <div class="modifiers">
    ....
    <%= link_to 'Edit modifiers', edit_card_meta_path(@card), 'up-modal' => '.meta_form' %>
  </div>

<% end %>


<!-- cards/meta/edit.html.erb -->

<%= form_for @card, html: { class: 'meta_form', 'up-target' => '.modifiers' } do |form| %>

   ...

<% end %>



<a href="close" up-close-modal>X</a>