<div class="example">

  <h2>Basic form</h2>

  <%= form_tag "/form_test/basic", method: :post, 'up-target' => '.result' do %>

    <p>
      <label>
        input[type=text]
        <input type="text" name="text-param" value="text-value" />
      </label>
    </p>

    <p>
      <label>
        input[type=password]
        <input type="password" name="password-param" value="password-value" />
      </label>
    </p>

    <p>
      <label>
        input[type=checkbox]
        <select name="checkbox-param">
          <option value="checkbox-value">checkbox-label</option>
        </select>
      </label>
    </p>

    <p>
      <label>
        select
        <select name="select-param">
          <option value="select-value">select-label</option>
        </select>
      </label>
    </p>

    <p>
      <label>
        select[multiple]
        <select name="multiple-select-param[]" multiple>
          <option value="multiple-select-value-1">multiple-select-label-1</option>
          <option value="multiple-select-value-2">multiple-select-label-2</option>
          <option value="multiple-select-value-3">multiple-select-label-3</option>
        </select>
      </label>
    </p>

    <p>
      <button type="submit">Submit</button>
    </p>

  <% end %>

  <h3>Submission result</h3>

  <div class="result">
    Results of the form submission will be shown here.
  </div>

</div>
