<div class="row">
  <div class="col">

    <h2>Basic form</h2>

    <%= form_tag "/form_test/basic", method: :post, 'up-target' => '.result' do %>

      <div class="form-group">
        <label for="text-param">input[type=text]</label>
        <input type="text" name="text-param" value="text-value" class="form-control" id="text-param">
      </div>

      <div class="form-group">
        <label for="password-param">input[type=password]</label>
        <input type="password" name="password-param" value="password-value" class="form-control" id="password-param">
      </div>

      <div class="form-group form-check">
        <input type="checkbox" name="checkbox-param" value="checkbox-value" class="form-check-input" id="checkbox-param">
        <label for="checkbox-param" class="form-check-label"">input[type=checkbox]</label>
      </div>

      <div class="form-group">
        <label for="select-param">select</label>
        <select name="select-param" class="form-control" id="select-param">
          <option value="select-value">select-label</option>
        </select>
      </div>

      <div class="form-group">
        <label for="multiple-select-param">select[multiple]</label>
        <select name="multiple-select-param[]" multiple class="form-control" id="multiple-select-param">
          <option value="multiple-select-value-1">multiple-select-label-1</option>
          <option value="multiple-select-value-2">multiple-select-label-2</option>
          <option value="multiple-select-value-3">multiple-select-label-3</option>
        </select>
      </div>


      <button type="submit" class="btn btn-primary">Submit</button>


    <% end %>

  </div>

  <div class="col">
    <h2>Submission result</h2>

    <div class="result">
      Results of the form submission will be shown here.
    </div>
  </div>

</div>