<div class="fixed-top-bar">
  <% for animation in %w(cross-fade move-up move-right move-down move-left) do %>
    <span class="btn btn-primary" onclick="up.replace('.morphed-object', 'transitions', { transition: '<%= animation %>', duration: 2000, cache: false })">
      <%= animation %>
    </span>
  <% end %>
</div>

<div class="example">
  <div class="morphed-object" style="padding: 30px; background-color: #<%= SecureRandom.hex(3) %>; color: white; width: 300px; height: 200px; margin-left: 200px; margin-top: 200px">
    <%= ('a'..'z').to_a.shuffle[0, 20].join %>
  </div>
</div>
