<ul>
  <li><a href="page1" up-target="body">Link to page1, replacing <code>body</code></a></li>
  <li><a href="page1" up-target=".content">Link to page1, replacing <code>.content</code></a></li>
  <li><a href="page2" up-target="body">Link to page2, replacing <code>body</code></a></li>
  <li><a href="page2" up-target=".content">Link to page2, replacing <code>.content</code></a></li>
</ul>
