<div class="example">

  <h1>Fragment update test</h1>

  <p class="before">Before from page1</p>

  <p class="content compiler">Content from page1</p>

  <p class="before">After from page1</p>

  <%= render 'nav' %>

</div>

