<table>
  <tbody>
    <tr id="one">
      <td><%= Time.now %></td>
      <td><a href="table" up-target="#one">Replace this row</a></td>
    </tr>
    <tr id="two">
      <td><%= Time.now %></td>
      <td><a href="table" up-target="#two">Replace this row</a></td>
    </tr>
    <tr id="three">
      <td><%= Time.now %></td>
      <td><a href="table" up-target="#three">Replace this row</a></td>
    </tr>
  </tbody>
</table>
