<div class="example">

  <h2>Redirecting form</h2>

  <%= form_tag "/form_test/redirect", method: :post, 'up-target' => '.result' do %>

    <p>
      <input type="text" name="text-param" value="text-value" />
    </p>

    <p>
      <input type="password" name="password-param" value="password-value" />
    </p>

    <p>
      <select name="select-param">
        <option value="select-value">select-label</option>
      </select>
    </p>

    <p>
      <button type="submit">Submit</button>
    </p>

  <% end %>

</div>
