<html>
<body>

<h1>form_target (<%= request.method %>)</h1>

<p>
  <a href="javascript:history.pushState({}, 'page 2 title', 'page2')">Add history entry to page2</a>
</p>

<p>
  <a href="javascript:location.reload()">Reload the page</a>
  <br>
  Do you see a "retry form submission" prompt? If yes, this browser is affected by the issue.
</p>

</body>
</html>