<div class="long-page" style="height: 2000px; background-color: rgba(0, 0, 255, 0.3)">

  <h2>Long page 1</h2>

  <ul>
    <li><a up-target=".long-page" href="long2">Go to long page 2 (with default reveal)</a></li>
    <li><a up-target=".long-page" href="long2" up-reveal="false" up-transition="cross-fade">Go to long page 2 (with reveal disabled)</a></li>
  </ul>

</div>
