<div class="long-page" style="height: 2000px; background-color: rgba(255, 0, 0, 0.3)">

  <h2>Long page 2</h2>

  <ul>
    <li><a up-target=".long-page" href="long1">Go to long page 1 (with default reveal)</a></li>
    <li><a up-target=".long-page" href="long1" up-reveal="false" up-transition="cross-fade">Go to long page 1 (with reveal disabled)</a></li>
  </ul>

</div>
