<div class="fixed-top-bar" up-fixed="top" style="margin: 25px">
  <span class="btn btn-primary" onclick="up.reveal('#small', { behavior: 'smooth' })">Reveal #small</span>
  <span class="btn btn-primary" onclick="up.reveal('#large', { behavior: 'smooth' })">Reveal #large</span>
  <span class="btn btn-primary" onclick="up.viewport.config.revealPadding += 25">Increase padding</span>
</div>

<div class="fixed-bottom-bar" up-fixed="bottom" style="margin: 25px">
</div>

<div up-viewport style="overflow-y: scroll; width: 300px; height: 100vh">

  <div id="above" style="height: 1000px; background-color: rgba(0, 0, 255, 0.2)">
    #above
  </div>

  <div class="example" id="small" style="background-color: rgba(255, 0, 0, 0.4); height: 50px">
    #small
  </div>

  <div class="example" id="large" style="background-color: rgba(0, 255, 0, 0.4); height: 2000px">
    #large
  </div>

  <div id="below" style="height: 1000px; background-color: rgba(0, 0, 255, 0.2)">
    #below
  </div>

</div>