<div class="fixed-top-bar" up-fixed="top" style="background-color: rgba(40, 40, 40, 0.85)">
  Obstruction
</div>

<div class="spacer">
</div>

<h1 style="margin: 0">Hash links (with Unpoly)</h1>

<div class="example" id="one" style="height: 1000px; background-color: yellow; margin: 0">
  <h2 style="margin: 0">This is #one</h2>

  <a href="#two" up-target=".page">Scroll down to #two</a>
</div>

<div class="example" id="two" style="height: 200px; background-color: green; margin: 0">
  <h2 style="margin: 0">This is #two</h2>

  <a href="#three" up-target=".page">Scroll down to #three</a>
</div>

<div class="example" id="three" style="height: 1000px; background-color: cyan; margin: 0">
  <h2 style="margin: 0">This is #three</h2>

  <a href="#one" up-target=".page">Scroll up to #one</a>
</div>

<div class="fixed-bottom-bar" up-fixed="bottom" style="background-color: rgba(40, 40, 40, 0.85)">
  Obstruction
</div>