<h1>Hash links (with Unpoly)</h1>

<div class="example" id="one" style="height: 1000px">
  <h2>This is #one</h2>

  <a href="#two" up-target=".page">Scroll down to #two</a>
</div>

<div class="example" id="two" style="height: 1000px">
  <h2>This is #two</h2>

  <a href="#one" up-target=".page">Scroll up to #one</a>
</div>
