<div class="fixed-top-bar" up-fixed="top" style="background-color: rgba(40, 40, 40, 0.85)">
  Obstruction
</div>

<div class="spacer">
</div>

<h1>Hash links (with Unpoly)</h1>

<div class="example" id="one" style="height: 1000px; background-color: yellow; margin: 0">
  <h2>This is #one</h2>

  <a href="#two" up-target=".page">Scroll down to #two</a>
</div>

<div class="example" id="two" style="height: 1000px; background-color: cyan; margin: 0">
  <h2>This is #two</h2>

  <a href="#one" up-target=".page">Scroll up to #one</a>
</div>
