<% script_options(type: 'module') %>
<%= include_user_script(script_options.merge(delay: 2)) %>

<h1>Booting (module scripts)</h1>

<h2>Setup</h2>

<ul>
  <li>Both Unpoly and user script have loaded with <code>[type=module]</code> (which implies <code>[defer]</code>).</li>
  <li>The user script took intentionally long to render.</li>
</ul>

<h2>Expectations</h2>

<ul>
  <li>Unpoly has booted automatically after the user script was called.</li>
  <li>The background should be red (from a user script compiler).</li>
</ul>
