<div class="example">

  <h1>Unpoly tests</h1>

  <h2>Javascript</h2>

  <ul>
    <li><%= link_to 'Jasmine specs', '/specs' %></li>
  </ul>

  <h2>CSS</h2>

  <ul>
    <li><%= link_to 'Tooltip', '/css_test/tooltip' %></li>
  </ul>

</div>
