# These Apache directives are included in the .htaccess for unpoly.com (repo unpoly-site)

RedirectPermanent /a-up-dash /up-dash
RedirectPermanent /a-up-instant /up-instant
RedirectPermanent /a-up-preload /up-preload
RedirectPermanent /a.up-active /up-active
RedirectPermanent /form.up-active /up-active
RedirectPermanent /a.up-current /up-current
RedirectPermanent /up-nav-a.up-current /up-current
RedirectPermanent /input-up-validate /up-validate
RedirectPermanent /form-up-validate /up-validate
RedirectPermanent /a-up-back /up-back
RedirectPermanent /input-up-switch /up-switch
RedirectPermanent /select-up-switch /up-switch
RedirectPermanent /up.proxy /up.network
RedirectPermanent /up.layout /up.viewport
RedirectPermanent /up.layout.config /up.viewport.config
RedirectPermanent /up.dom /up.fragment
RedirectPermanent /up.dom.config /up.fragment.config
RedirectPermanent /up.flow /up.fragment
RedirectPermanent /up.syntax /up.script
RedirectPermanent /up.script.data /up.data
RedirectPermanent /up.bus /up.event
RedirectPermanent /up.bus.onEscape /up.event.onEscape
RedirectPermanent /up.params /up.Params

RedirectPermanent /up.layer.context /up.context

RedirectPermanent /up.cache /caching
RedirectPermanent /a-up-follow /up-follow
RedirectPermanent /form-up-submit /up-submit
RedirectPermanent /a-up-target /up-follow
RedirectPermanent /form-up-target /up-submit
RedirectPermanent /form-up-observe /up-watch
RedirectPermanent /input-up-observe /up-watch
RedirectPermanent /form-up-autosubmit /up-autosubmit
RedirectPermanent /input-up-autosubmit /up-autosubmit
RedirectPermanent /up.observe /up.watch

RedirectPermanent /server-errors /failed-responses
RedirectPermanent /offline /network-issues
RedirectPermanent /handling-disconnects /network-issues
RedirectPermanent /cache /caching
RedirectPermanent /targeting-elements /targeting-fragments
RedirectPermanent /targeting /targeting-fragments
RedirectPermanent /target /targeting-fragments
RedirectPermanent /targets /targeting-fragments

RedirectPermanent /focus-option /focus
RedirectPermanent /focusing /focus
RedirectPermanent /scroll-option /scrolling
RedirectPermanent /validating /validation
RedirectPermanent /validating-forms /validation
RedirectPermanent /validations /validation
RedirectPermanent /disable /disabling-forms
RedirectPermanent /disabling /disabling-forms

RedirectPermanent /changing-history /updating-history
RedirectPermanent /changing-location /updating-history
RedirectPermanent /updating-location /updating-history
RedirectPermanent /history-restoration /restoring-history
RedirectPermanent /back-button /restoring-history

RedirectPermanent /notifications /flashes
RedirectPermanent /notification-flashes /flashes

RedirectPermanent /layer-reference /layer-option
RedirectPermanent /focus-ring-visibility /focus-visibility
RedirectPermanent /focus-outline-visibility /focus-visibility
RedirectPermanent /focus-visible /focus-visibility
RedirectPermanent /focus-ring /focus-visibility
RedirectPermanent /focus-outline /focus-visibility

RedirectPermanent /preloading-links /preloading
RedirectPermanent /preloading-content /preloading

RedirectPermanent /attributes /attributes-and-options
RedirectPermanent /attrs /attributes-and-options
RedirectPermanent /options /attributes-and-options
RedirectPermanent /opts /attributes-and-options
RedirectPermanent /configuration /attributes-and-options
RedirectPermanent /config /attributes-and-options
RedirectPermanent /attributes-options /attributes-and-options

RedirectPermanent /a-up-emit /up-emit

RedirectPermanent /up-href /clicking-non-interactive-elements

RedirectPermanent /script-up-boot-manual /up-boot-manual
RedirectPermanent /a-up-alias /up-alias
RedirectPermanent /a-up-popup /up-popup
RedirectPermanent /a-up-modal /up-modal
RedirectPermanent /a-up-layer-new /up-layer-new
RedirectPermanent /a-up-drawer /up-drawer
RedirectPermanent /a-up-dismiss /up-dismiss
RedirectPermanent /a-up-close /up-close
RedirectPermanent /a-up-accept /up-accept
RedirectPermanent /a-up-transition /up-transition
RedirectPermanent /form-up-transition /up-transition

RedirectPermanent /fragment-placement /targeting-fragments

RedirectPermanent /render-content /providing-html

RedirectPermanent /has https://developer.mozilla.org/en-US/docs/Web/CSS/:has

RedirectPermanent /preview /previews
RedirectPermanent /placeholder /placeholders
RedirectPermanent /skeleton /placeholders
RedirectPermanent /skeletons /placeholders

RedirectPermanent /render-hooks /render-lifecycle
RedirectPermanent /rendering-lifecycle /render-lifecycle

RedirectPermanent /template /templates
RedirectPermanent /templating /templates

RedirectPermanent /optimistic-updates /optimistic-rendering
RedirectPermanent /optimistic-ui /optimistic-rendering
RedirectPermanent /speculative-rendering /optimistic-rendering
RedirectPermanent /opportunistic-rendering /optimistic-rendering
RedirectPermanent /eager-rendering /optimistic-rendering

RedirectPermanent /nav-bars /navigation-bars
RedirectPermanent /nav-bar /navigation-bars
RedirectPermanent /navbars /navigation-bars
RedirectPermanent /navbar /navigation-bars
RedirectPermanent /nav /navigation-bars

RedirectPermanent /up.navigation /up.status
RedirectPermanent /up.feedback /up.status

RedirectPermanent /navigate /navigation
RedirectPermanent /navigating /navigation

RedirectPermanent /dependent-fields /reactive-server-forms
RedirectPermanent /dependent-elements /reactive-server-forms
RedirectPermanent /dependent-forms /reactive-server-forms

RedirectPermanent /preserving-fragments /preserving-elements
RedirectPermanent /keeping-fragments /preserving-elements
RedirectPermanent /keeping-elements /preserving-elements
RedirectPermanent /persisting-fragments /preserving-elements
RedirectPermanent /persisting-elements /preserving-elements

RedirectPermanent /javascript-sprinkles /enhancing-elements
RedirectPermanent /compiler /enhancing-elements
RedirectPermanent /compilers /enhancing-elements
RedirectPermanent /compilation /enhancing-elements

RedirectPermanent /up-fixed /up-fixed-top


