# These Apache directives are included in the .htaccess for unpoly.com (repo unpoly-site)

RedirectPermanent /up-dash /a-up-dash
RedirectPermanent /up-instant /a-up-instant
RedirectPermanent /up-preload /a-up-preload
RedirectPermanent /a.up-active /up-active
RedirectPermanent /form.up-active /up-active
RedirectPermanent /up-current /a.up-current
RedirectPermanent /up-nav-a.up-current /a.up-current
RedirectPermanent /up-observe /form-up-observe
RedirectPermanent /input-up-validate /up-validate
RedirectPermanent /form-up-validate /up-validate
RedirectPermanent /up-back /a-up-back
RedirectPermanent /input-up-switch /up-switch
RedirectPermanent /select-up-switch /up-switch
RedirectPermanent /up.proxy /up.network
RedirectPermanent /up.layout /up.viewport
RedirectPermanent /up.layout.config /up.viewport.config
RedirectPermanent /up.dom /up.fragment
RedirectPermanent /up.dom.config /up.fragment.config
RedirectPermanent /up.syntax /up.script
RedirectPermanent /up.script.data /up.data
RedirectPermanent /up.bus /up.event
RedirectPermanent /up.bus.onEscape /up.event.onEscape
RedirectPermanent /up.params /up.Params

RedirectPermanent /up.layer.context /up.context

RedirectPermanent /up.cache /caching
RedirectPermanent /up-follow /a-up-follow
RedirectPermanent /up-submit /form-up-submit
RedirectPermanent /a-up-target /a-up-follow
RedirectPermanent /form-up-target /form-up-follow
RedirectPermanent /form-up-observe /up-watch
RedirectPermanent /input-up-observe /up-watch
RedirectPermanent /form-up-autosubmit /up-autosubmit
RedirectPermanent /input-up-autosubmit /up-autosubmit
RedirectPermanent /up.observe /up.watch

RedirectPermanent /server-errors /failed-responses
RedirectPermanent /offline /disconnects
RedirectPermanent /handling-disconnects /disconnects
RedirectPermanent /cache /caching
RedirectPermanent /targeting-elements /targeting-fragments

RedirectPermanent /focus-option /focus
RedirectPermanent /focusing /focus
RedirectPermanent /scroll-option /scrolling
RedirectPermanent /validating /validation
RedirectPermanent /validating-forms /validation
RedirectPermanent /validations /validation
RedirectPermanent /disable /disabling-forms
RedirectPermanent /disabling /disabling-forms

RedirectPermanent /changing-history /updating-history
RedirectPermanent /changing-location /updating-history
RedirectPermanent /updating-location /updating-history
RedirectPermanent /history-restoration /restoring-history
RedirectPermanent /back-button /restoring-history

RedirectPermanent /notifications /flashes
RedirectPermanent /notification-flashes /flashes

RedirectPermanent /layer-reference /layer-option
RedirectPermanent /focus-visible /focus-visibility
RedirectPermanent /focus-ring /focus-visibility
RedirectPermanent /focus-outline /focus-visibility

RedirectPermanent /preloading-links /preloading
RedirectPermanent /preloading-content /preloading

RedirectPermanent /attributes /attributes-and-options
RedirectPermanent /attrs /attributes-and-options
RedirectPermanent /options /attributes-and-options
RedirectPermanent /opts /attributes-and-options
RedirectPermanent /configuration /attributes-and-options
RedirectPermanent /config /attributes-and-options
RedirectPermanent /attributes-options /attributes-and-options
